<div class="container">
    @if(imageBase64) {
        <div class="container-preview">
            <img [src]="decodeImageBase64(imageBase64)" alt="Prévisualisation de l'image" class="image-preview" />
        </div>
    } @else {
        <div class="folder">
            <div class="top"></div>
            <div class="bottom"></div>
        </div>
    }
    <label class="custom-file-upload">
      <input class="title" type="file" (change)="onFileSelected($event)" accept="image/*" />
      Choisir un fichier
    </label>
  </div>