.custom-file-upload input[type="file"] {
  display: none;
}
  
.custom-file-upload {
  background-color: var(--button-blue-color);
  color: white;
  padding: .5rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
}

.custom-file-upload:hover {
  background-color: var(--button-hover-blue-color);
}

.container-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  box-shadow: var(--first-shadow);
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}