<div class="auth-pages">
    
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password">

        <h2>Mot de passe oublié ?</h2>
        <p>Entrez votre adresse email pour recevoir un lien de réinitialisation.</p>

        <div class="elementForm">
            <label for="email">Email</label>
            <div class="input">
                <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
                <input type="text" id="email" name="email" required formControlName="email">
            </div>
        </div>

        <div class="form-error" *ngIf="(email.invalid && (email.dirty || email.touched))">
            <div *ngIf="(email.invalid && (email.dirty || email.touched))">
                <p *ngIf="email.errors?.['required']">L'email est requis.</p>
                <p *ngIf="email.errors?.['email']">L'email est invalide.</p>
            </div>
        </div>

        @if (this.isLoading){
            <app-loader></app-loader>
        } @else {
            <app-button [color]="'green'" [text]="'Envoyer'"></app-button>
        }

    </form>

</div>