.table-container {
    margin-top: .5rem;
    width: 100%;
    background-color: white;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border: 0.5px solid var(--border-color);
}

.actions-header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.actions {
    text-align: center; /* Centre horizontalement le contenu */
    white-space: nowrap; /* Empêche les icônes de passer à la ligne */
}

.actions .icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer; 
}

.edit{
    color: var(--button-blue-color);
}

.delete{
    color: var(--button-red-color);
}