@if(isLoading) {

    <p>Chargement</p>

} @else {

    <form [formGroup]="quoteForm" class="quote">

        <div class="first-line">
            <img [src]="decodeFile(user.company!.logoEncodedBase64)" alt="Logo" class="logo" />
            <p class="quote-number">Devis n°</p>
        </div>
    
        <div class="second-line">
            <h2 class="text">Prestataire</h2>
            <input class="input name" formControlName="companyName" />
            <input class="input address" formControlName="companyAddress" />
            <input class="input city" formControlName="companyCity" />
            <div class="line">
                <label class="label">Siret : </label>
                <input class="input siret" formControlName="companySiret" />
            </div>
            <input class="input phone" formControlName="companyPhone" />
        </div>

        <div class="third-line">
            <h2 class="text">Client</h2>
            <input class="input name" formControlName="customerName" placeholder="Nom"/>
            <input class="input address" formControlName="customerAddress" placeholder="Adresse" />
            <input class="input city" formControlName="customerCity" placeholder="Ville, Code Postal" />
            <div class="line">
                <label class="label">Siret : </label>
                <input class="input siret" formControlName="customerSiret" placeholder="Siret" />
            </div>
            <input class="input phone" formControlName="customerPhone" placeholder="Tél" />
        </div>
        
        <app-create-quote-table></app-create-quote-table>

        <app-create-quote-price></app-create-quote-price>
    
    </form>

}