.quote {
    width: 100%;
    box-sizing: border-box;
    padding: 1.5%;
    box-shadow: var(--first-shadow);
    border: 0.5px solid var(--border-color);
}

.first-line {
    width: 100%;
}

.logo {
    width: 20%;
    aspect-ratio: 1 1;
    object-fit: cover;
}

.first-line {
    display: flex;
    justify-content: space-between;
}

.second-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    font-size: 1rem;
}

.third-line {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: .4rem;
    font-size: 1rem;
}

.input {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    background-color: #dfe9f7;
    padding: .3rem .5rem;
}

.label {
    font-weight: bold;
    width: 100%;
    max-width: 60px;
    padding: .3rem .5rem;
}

.line {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    background-color: #dfe9f7;
}