.header {
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    box-shadow: var(--first-shadow);
    border: 0.5px solid var(--border-color);
    margin-bottom: 2rem;
    display: flex;
}

.quote {
    width: 100%;
    box-sizing: border-box;
    padding: 1.5%;
    box-shadow: var(--first-shadow);
    border: 0.5px solid var(--border-color);
}

.first-line {
    width: 100%;
}

.logo {
    width: 20%;
    aspect-ratio: 1 1;
    object-fit: cover;
}

.first-line {
    display: flex;
    justify-content: space-between;
}

.second-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    font-size: 1rem;
}

.third-line {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: .4rem;
    font-size: 1rem;
}

.fourth-line {
    margin-top: 1rem;
}

.fifth-line {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    flex-wrap: wrap;
}

.fifth-line *{
    flex: 1;
    min-width: 400px;
}

.sixth-line {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.input {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    background-color: #dfe9f7;
    padding: .3rem .5rem;
}

.label {
    font-weight: bold;
    width: 100%;
    max-width: 60px;
    padding: .3rem .5rem;
}

.line {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    background-color: #dfe9f7;
}

:host ::ng-deep .p-autocomplete-input {
    padding: .25rem;
    box-sizing: border-box;
}