<div class="auth-pages">

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="reset-password">

        <h2>Réinitialisation du mot de passe</h2>

        <div class="elementForm">
            <label for="password">Mot de passe</label>
            <div class="input">
                <mat-icon aria-hidden="false" fontIcon="lock"></mat-icon>
                <input type="password" id="password" name="password" required formControlName="password">
                @if (!passwordVisibility) {
                    <mat-icon aria-hidden="false" fontIcon="visibility" (click)="handlerPassword()"></mat-icon>
                } @else {
                    <mat-icon aria-hidden="false" fontIcon="visibility_off" (click)="handlerPassword()"></mat-icon>
                }
            </div>
        </div>

        <div class="elementForm">
            <label for="passwordConfirm">Confirmer le mot de passe</label>
            <div class="input">
                <mat-icon aria-hidden="false" fontIcon="lock"></mat-icon>
                <input type="password" id="passwordConfirm" name="passwordConfirm" required formControlName="passwordConfirm">
                @if (!passwordConfirmVisibility) {
                    <mat-icon aria-hidden="false" fontIcon="visibility" (click)="handlerPasswordConfirm()"></mat-icon>
                } @else {
                    <mat-icon aria-hidden="false" fontIcon="visibility_off" (click)="handlerPasswordConfirm()"></mat-icon>
                }
            </div>
        </div>

        <div class="form-error" *ngIf="(password.invalid && (password.dirty || password.touched)) || (passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched))">
            <div *ngIf="(password.invalid && (password.dirty || password.touched))">
                <p *ngIf="password.errors?.['required']">Le mot de passe est requis.</p>
                <p *ngIf="password.errors?.['minlength']">Le mot de passe doit contenir au moins 8 caractères.</p>
                <p *ngIf="password.errors?.['pattern']">Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule et un chiffre.</p>
            </div>

            <div *ngIf="(passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched))">
                <p *ngIf="password.errors?.['required']">La confirmation du mot de passe est requis.</p>
            </div>
        </div>

        @if (this.isLoading){
            <app-loader></app-loader>
        } @else {
            <app-button [color]="'green'" [text]="'Modifier'"></app-button>
        }
    
    </form>

</div>